<div class="panel panel-default">
  <div class=" panel-heading">
    <h3 class="panel-title center">Add New Job</h3>
  </div>
    <div class="panel-body">
      <%= simple_form_for([@customer,@job], html: {class:'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
        <%= f.input :install, collection: ["Yes", "No"], input_html: {class:'form-control'}, prompt: "Installing?" %>
        <%= f.input :delivery, collection: ["Yes", "No"], input_html: {class:'form-control'}, prompt: "Delivering?" %>
        <%= f.input :job_tag, input_html: {class:'form-control'} %>
        <%= f.input :job_address, input_html: {class:'form-control'} %>
        <%= f.input :job_city, input_html: {class:'form-control'} %>
        <%= f.input :job_postal_code, input_html: {class:'form-control'} %>
        <%= f.input :install_date, :as => :date_picker, input_html: { class: "datepicker"} %>   
        <%= f.input :box_count, input_html: {class:'form-control'} %>
        <%= f.input :cabinet_cost, input_html: {class:'form-control'} %>
        <%= f.input :counter_top_cost, input_html: {class:'form-control'} %>
        <%= f.input :install_cost, input_html: {class:'form-control'} %>
        <br />
        <%= f.button :submit, "Create Job", class: "col-md-3 bump-right" %>
        <% end %>
    </div>
</div>