<p id="notice"><%= notice %></p>

<p>
  <strong>Install:</strong>
  <%= @job.install %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @job.delivery %>
</p>

<p>
  <strong>Install date:</strong>
  <%= @job.install_date %>
</p>

<p>
  <strong>Box count:</strong>
  <%= @job.box_count %>
</p>

<p>
  <strong>Cabinet cost:</strong>
  <%= @job.cabinet_cost %>
</p>

<p>
  <strong>Counter top cost:</strong>
  <%= @job.counter_top_cost %>
</p>

<p>
  <strong>Install cost:</strong>
  <%= @job.install_cost %>
</p>

<p>
  <strong>Payment one:</strong>
  <%= @job.payment_one %>
</p>

<p>
  <strong>Payment two:</strong>
  <%= @job.payment_two %>
</p>

<p>
  <strong>Payment three:</strong>
  <%= @job.payment_three %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
