<div class="col-md-6">
	<h3 class="info-text">CUSTOMER:  <%= @customer.first_name.upcase + " " + @customer.last_name.upcase %></h3>
</div>
<div class="col-md-4 pull-right text-right">
	<h3 class="info-text">JOB NUMBER:  <%= @job.id %></h3>
</div>
<br /><br />
<hr class="style-one" />

<div class="row">
		<div class="clearfix">
				<div class="panel panel-primary col-md-5 drop-padding pull-left">
					<div class="panel-heading">
						<h3 class="panel-title center">Customer Information</h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<tr>
									<td><strong>Customer Name:</strong></td>
									<td><%= @customer.first_name + " " + @customer.last_name %></td>
								</tr>
								<tr>
									<td><strong>Billing Address:</strong></td>
									<td><%= @customer.address + ", " + @customer.city + ", " + @customer.postal_code %></td>
								</tr>
								<tr>
									<td><strong>Phone Number:</strong></td>
									<td><%= @customer.phone_number %></td>
								</tr>
								<tr>
									<td><strong>Email Address:</strong></td>
									<td><%= mail_to(@customer.email_address) %></td>
								</tr>
								<tr>
									<td><strong>Customer Type:</strong></td>
									<td><%= @customer.customer_type %></td>
								</tr>
							</table>
						</div>
					</div>
				</div>

				<div class="panel panel-primary col-md-5 drop-padding pull-right">
					<div class="panel-heading">
						<h3 class="panel-title center">Job Information</h3>
					</div>
					<div class="panel-body">
							<table class="table">
								<tr>
									<td><strong>Job Tag:</strong></td>
									<td><%= @job.job_tag %></td>
								</tr>
								<tr>
									<td><strong>Job Address:</strong></td>
									<td><%= @job.job_address + ", " + @job.job_city + ", " + @job.job_postal_code %></td>
								</tr>
								<tr>
									<td><strong>Install:</strong></td>
									<td><%= @job.install %></td>
								</tr>
								<tr>
									<td><strong>Delivery:</strong></td>
									<td><%= @job.delivery %></td>
								</tr>
								<tr>
									<td><strong>Install Date:</strong></td>
									<td><%= @job.install_date.strftime("%B, %d, %Y") %></td>
								</tr>
							</table>
					</div>
				</div>
		</div>
</div>

<hr class="style-one" />

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title center">Room Information</h3>
		</div>
		<div class="panel-body">
			<% @job.rooms.each do |room| %>
			<div class="table-responsive">
				<table class="table">
							<tr>
								<h4 class="info-text"><%= room.room_type %> Information</h4>
							</tr>
							<tr class="info">
								<th class="col-md-2 info-text"><u>Room Details</u></th>
								<th class="col-md-2"></th>
								<th class="col-md-2 info-text"><u>Door Style Details</u></th>
								<th class="col-md-2"></th>
								<th class="col-md-2 info-text"><u>Drawer Box Details</u></th>
								<th class="col-md-2"></th>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Room Type:</strong></td>
								<td class="col-md-2"><%= room.room_type %></td>
								<td class="col-md-2"><strong>Upper Door Style:</strong></td>
								<td class="col-md-2"><%= room.upper_door_style %></td>
								<td class="col-md-2"><strong>Drawer Box Style:</strong></td>
								<td class="col-md-2"><%= room.drawer_box_style %></td>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Material Type:</strong></td>
								<td class="col-md-2"><%= room.material %></td>
								<td class="col-md-2"><strong>Lower Door Style:</strong></td>
								<td class="col-md-2"><%= room.lower_door_style %></td>
								<td class="col-md-2"><strong>Drawer Track Style:</strong></td>
								<td class="col-md-2"><%= room.track_style %></td>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Material Details:</strong></td>
								<td class="col-md-2"><%= room.material_details %></td>
								<td class="col-md-2"><strong>Drawer Front Style:</strong></td>
								<td class="col-md-2"><%= room.drawer_front_style %></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Exterior Colour:</strong></td>
								<td class="col-md-2"><%= room.exterior_colour %></td>
								<td class="col-md-2"><strong>Panel Back Style:</strong></td>
								<td class="col-md-2"><%= room.panel_back_style %></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Interior Colour:</strong></td>
								<td class="col-md-2"><%= room.interior_colour %></td>
								<td class="col-md-2"><strong>Finished End Style:</strong></td>
								<td class="col-md-2"><%= room.finished_ends %></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
							</tr>
							<tr class="info">
								<th class="col-md-2 info-text"><u>Counter Top Details</u></th>
								<th class="col-md-2"></th>
								<th class="col-md-2 info-text"><u>Molding Details</u></th>
								<th class="col-md-2"></th>
								<th class="col-md-2 info-text"><u>Custom Order Details</u></th>
								<th class="col-md-2"></th>
							</tr>		
							<tr>
								<td class="col-md-2"><strong>Counter Top Material:</strong></td>
								<td class="col-md-2"><%= room.counter_top_material %></td>
								<td class="col-md-2"><strong>Closed To Ceiling:</strong></td>
								<td class="col-md-2"><%= room.closed_to_ceiling %></td>
								<td class="col-md-2"><strong>Custom Order Name:</strong></td>
								<td class="col-md-2"><%= room.order_name %></td>
							</tr>	
							<tr>
								<td class="col-md-2"><strong>Counter Top Supplier:</strong></td>
								<td class="col-md-2"><%= room.counter_top_supplier %></td>
								<td class="col-md-2"><strong>Crown Molding:</strong></td>
								<td class="col-md-2"><%= room.crown_molding %></td>
								<td class="col-md-2"><strong>Custom Order Details:</strong></td>
								<td class="col-md-2"><%= room.order_description %></td>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Counter Top Colour:</strong></td>
								<td class="col-md-2"><%= room.counter_top_colour %></td>
								<td class="col-md-2"><strong>Under Cabinet Molding:</strong></td>
								<td class="col-md-2"><%= room.under_cabinet_molding %></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Counter Top Edge:</strong></td>
								<td class="col-md-2"><%= room.counter_top_edge %></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Counter Top Backsplash:</strong></td>
								<td class="col-md-2"><%= room.backsplash %></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
							</tr>
							<tr>
								<td class="col-md-2"><strong>Sink Install:</strong></td>
								<td class="col-md-2"><%= room.sink_install %></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
								<td class="col-md-2"></td>
							</tr>
					
				</table>
						<hr class="style-one" />
					<% end %>
				<div class="pull-right">
					<%= link_to new_job_room_path(@job, @customer), class: "btn btn-primary" do %>
						<span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Room
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title center">Accessory Info</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title center">Appliance Info</h3>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table">
				</table>
			</div>
		</div>
	</div>
</div>
