<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title center">Add New Customer</h3>
  </div>
    <div class="panel-body">
      <%= simple_form_for(@customer, html: {class:'form-horizontal'}, wrapper: :horizontal_form) do |f| %>
        <%= f.input :first_name, input_html: {class:'form-control'} %>
        <%= f.input :last_name, input_html: {class:'form-control'} %>
        <%= f.input :phone_number, as: :tel, input_html: {class:'form-control'} %>
        <%= f.input :email_address, as: :email, input_html: {class:'form-control'} %>
        <%= f.input :address, input_html: {class:'form-control'} %>
        <%= f.input :city, input_html: {class:'form-control'} %>
        <%= f.input :postal_code, input_html: {class:'form-control'} %>
        <%= f.input :customer_type, collection: ["Retail", "Contractor", "Dealer"], input_html: {class:'form-control'}, prompt: "Select Customer Type" %>
        <br />
        <%= f.button :submit, input_html: {class:'btn btn-primary'} %>
      <% end %>
    </div>
</div>