<p id="notice"><%= notice %></p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<p>
  <strong>Material:</strong>
  <%= @room.material %>
</p>

<p>
  <strong>Material details:</strong>
  <%= @room.material_details %>
</p>

<p>
  <strong>Exterior colour:</strong>
  <%= @room.exterior_colour %>
</p>

<p>
  <strong>Interior colour:</strong>
  <%= @room.interior_colour %>
</p>

<p>
  <strong>Upper door style:</strong>
  <%= @room.upper_door_style %>
</p>

<p>
  <strong>Lower door style:</strong>
  <%= @room.lower_door_style %>
</p>

<p>
  <strong>Drawer front style:</strong>
  <%= @room.drawer_front_style %>
</p>

<p>
  <strong>Panel back style:</strong>
  <%= @room.panel_back_style %>
</p>

<p>
  <strong>Finished ends:</strong>
  <%= @room.finished_ends %>
</p>

<p>
  <strong>Track style:</strong>
  <%= @room.track_style %>
</p>

<p>
  <strong>Drawer box style:</strong>
  <%= @room.drawer_box_style %>
</p>

<p>
  <strong>Counter top material:</strong>
  <%= @room.counter_top_material %>
</p>

<p>
  <strong>Counter top supplier:</strong>
  <%= @room.counter_top_supplier %>
</p>

<p>
  <strong>Counter top colour:</strong>
  <%= @room.counter_top_colour %>
</p>

<p>
  <strong>Counter top edge:</strong>
  <%= @room.counter_top_edge %>
</p>

<p>
  <strong>Backsplash:</strong>
  <%= @room.backsplash %>
</p>

<p>
  <strong>Sink install:</strong>
  <%= @room.sink_install %>
</p>

<p>
  <strong>Closed to ceiling:</strong>
  <%= @room.closed_to_ceiling %>
</p>

<p>
  <strong>Crown molding:</strong>
  <%= @room.crown_molding %>
</p>

<p>
  <strong>Under cabinet molding:</strong>
  <%= @room.under_cabinet_molding %>
</p>

<p>
  <strong>Order name:</strong>
  <%= @room.order_name %>
</p>

<p>
  <strong>Order description:</strong>
  <%= @room.order_description %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
